/* --------------Basic*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
html,
body {
  height: 100%;
}
a,
a:visited {
  text-decoration: none;
  color: unset;
}
a:hover {
  text-decoration: none;
}
nav,footer,header,aside {display: block;}
/* --------------fonts*/
@font-face {
    font-family: 'Anton';
    src: url('/fonts/Anton-Regular.woff2') format('woff2'),
        url('/fonts/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Blinker SemiLight';
    src: url('/fonts/Blinker-SemiLight.woff2') format('woff2'),
        url('/fonts/Blinker-SemiLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-ExtraLight.woff2') format('woff2'),
        url('/fonts/IBMPlexMono-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
.title {
    font-size: 22px;
    margin-bottom: 15px;
}
body {
    background-color: #B5B5B5; 
    color: #DDDDDD;
    font-family: 'Blinker SemiLight';
    text-transform: uppercase;
}
.wrapper {
    display: block;
    margin: auto;
    max-width: 1024px;
    background-color: #252525;
    padding: 18px 15px 0 15px;
}
.header__photo {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.header__img {
    display: flex;
    width: 100%;
    height: auto;
}
.profession {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 35px 5px 35px;
    
}
.profession__text {
    font-size: 27px;
}
.profession__icon {
    max-width: 26px;
    height: auto;
}
.name {
    display: flex;
    justify-content: center;
    font-family: 'Anton';
    text-transform: uppercase;
    font-size: 80px;
    padding: 0;
    margin: 0;
    line-height: 1;
    letter-spacing: 3px;
}
.main {
    display: flex;
    justify-content: space-between;
    padding: 35px 15px 0 35px;
}
.container {
    width: 45%;
}
.about {
    margin-bottom: 30px;
}
.article__item {
    margin-bottom: 30px;
}
.content__list {
    list-style: none;
    padding-left: 15px;
}
.content__item {
    margin-bottom: 10px;
}
.list-item__inner {
    display: flex;
    justify-content: space-between;
}
.list-item__indikator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 130px;
    height: 20px;
    padding-right: 80px;
}
.indikator__item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #DDDDDD;
}
.full {
    background-color: #DDDDDD;
}
.content__code {
    text-transform: lowercase;
    padding-left: 15px;
    background-color: #292828;
}
.code {
    font-size: 11px;
}
.code__color {
    color: rgb(241, 220, 195);
}
.content__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 15px;
    padding-right: 15px;
}
.content__info {
    width: 50%;
}
.content__desc {
    font-size: 12px;
}
.major {
    color: #B5B5B5;
    text-transform: lowercase;
}
.content__lang {
    display: flex;
    justify-content: space-between;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5px solid;
    padding: 10px 35px 10px 35px;
}
.footer__img {
    height: 50px;
    max-width: 100px;
}
.footer__link {
    font-family: 'IBM Plex Mono';
    text-transform: lowercase;
    font-size: 12px;
}
.footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid #B5B5B5;;
    padding: 10px 0;
}
.footer__bottom-text {
    letter-spacing: 7px;
    color: #B5B5B5;
}