/* --------------Basic*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
a {

}
nav,footer,header,aside {display: block;}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}
/* --------------fonts*/
@font-face {
    font-family: 'Anton';
    src: url('/fonts/Anton-Regular.woff2') format('woff2'),
        url('/fonts/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Blinker SemiLight';
    src: url('/fonts/Blinker-SemiLight.woff2') format('woff2'),
        url('/fonts/Blinker-SemiLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #B5B5B5; 
    color: #DDDDDD;
    font-family: 'Blinker SemiLight';
}
.main {
    display: block;
    margin: auto;
    max-width: 1024px;
    background-color: #252525;
}

.header__photo {
    display: flex;
    justify-content: center;
    padding: 18px 15px 0 15px;
        margin-bottom: 30px;
}
.header__img {
    display: flex;
    width: 100%;
    height: auto;
}
.profession {
    text-transform: uppercase;
    display: flex;
    justify-content:space-between;
    padding: 0 50px 0 50px;
    
}
.profession__text {

}
.profession__icon {
    max-width: 30px;
    max-height: 30px;
}
.name {
    display: flex;
    justify-content: center;
    font-family: 'Anton';
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 3px;

}
.main {
    
}
.information {
}
.information__education {
}
.information__skills {
}
.information__experience {
}